
@{
    ViewBag.Title = "addpost";
}

<h2>Tạo tin mới</h2>
<div class="add-post-step">
    <div>
        <div>
            <div>Bước 1/10</div>
            <div>
                <div>Xem và đăng</div>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div class="add-post-loai-bds">
                <div>
                    <label class="radio-default">
                        Nhà riêng
                        <input type="radio" />
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="radio-default">
                        Đất nền
                        <input type="radio" />
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="radio-default">
                        Căn hộ
                        <input type="radio" />
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="radio-default">
                        Dự án
                        <input type="radio" />
                        <span class="checkmark"></span>
                    </label>
                </div>

            </div>
        </div>
    </div>
    <div>
        <div>
            <div>
                <div>Quay lại</div>
                <div>Tiếp tục</div>
            </div>
        </div>
    </div>
</div>


