@using DAK_MVC.Models;
@{
    ViewBag.Title = "homepage";
}
<div>
    <div class="story-form">
        <div>
            <div>
                <div class="story-img">
                    <img src="~/images/house.png" />
                </div>
                <div class="story-account">
                    <div><i class="far fa-user-circle"></i></div>
                    <div>Hoang Quan</div>
                </div>
            </div>
            <div>
                <div class="story-img">
                    <img src="~/images/house.png" />
                </div>
                <div class="story-account">
                    <div><i class="far fa-user-circle"></i></div>
                    <div>Hoang Quan</div>
                </div>
            </div><div>
                <div class="story-img">
                    <img src="~/images/house.png" />
                </div>
                <div class="story-account">
                    <div><i class="far fa-user-circle"></i></div>
                    <div>Hoang Quan</div>
                </div>
            </div><div>
                <div class="story-img">
                    <img src="~/images/house.png" />
                </div>
                <div class="story-account">
                    <div><i class="far fa-user-circle"></i></div>
                    <div>Hoang Quan</div>
                </div>
            </div>
        </div>
    </div>
    <div class="quick-filter-form">
        <div>
            <div class="quick-filter-mua-thue">
                <div>
                    <label class="radio-default">
                        Mua bán
                        <input type="radio" checked="checked" name="muahoacthue" />
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="radio-default">
                        Cho thuê
                        <input type="radio" name="muahoacthue" />
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="quick-filter-tim-kiem">
                <div>
                    <input type="text" placeholder="Tìm kiếm địa điểm, khu vực" />
                    <div class="button-light">
                        <i class="fas fa-search"></i>Tìm kiếm
                    </div>
                </div>
            </div>
            <div class="quick-filter-loai-bds">                
                <div>
                    <label class="checkbox-default">
                        Nhà riêng
                        <input type="checkbox" />
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-default">
                        Đất nền
                        <input type="checkbox" />
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-default">
                        Căn hộ
                        <input type="checkbox" />
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-default">
                        Dự án
                        <input type="checkbox" />
                        <span class="checkmark"></span>
                    </label>
                </div>

            </div>

            <div class="quick-filter-more-option">
                <div>
                    <div>Khoảng giá</div>
                    <div>
                        <select>
                            <option label="- Chọn -"></option>
                            <option><= 1 tỷ</option>
                            <option>
                                1 - 2 tỷ
                            </option>

                            <option>
                                2 - 3 tỷ
                            </option>
                            <option>
                                3 - 5 tỷ
                            </option>
                            <option>
                                7 - 10 tỷ
                            </option>
                            <option>
                                10 - 20 tỷ
                            </option>
                        </select>
                    </div>
                </div>
                <div>
                    <div>Diện tích</div>
                    <div>
                        <select>
                            <option label="- Chọn -"></option>
                            <option>
                                < 30 m²
                            </option>
                            <option>
                                30 - 50 m²
                            </option>
                            <option>
                                50 - 70 m²
                            </option>
                            <option>
                                70 - 100 m²
                            </option>
                        </select>
                    </div>
                </div>
                <div>
                    <div>Hướng</div>
                    <div>
                        <select>
                            <option label="- Chọn -"></option>
                            <option>
                                Đông
                            </option>
                            <option>
                                Tây
                            </option>
                            <option>
                                Nam
                            </option>
                            <option>
                                Bắc
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="your-suggest">
       Bạn đang quan tâm
    </div>
    <div class="GridViewSearch">
        <div class="layout-grid-view">
            <div class="list-grid-view">
                <div>
                    @{
                        List<Post> lstPosts = ViewBag.Message;
                    }
                    @foreach (var Post in lstPosts)
                    {
                        @Post.name
                        @Html.Partial("_PostItem", new ViewDataDictionary(ViewData) { { "_PostItem", Post } })

                    }


                </div>
            </div>
            <div class="dashboard-search">
                <div>
                    <img src="~/images/styled-mode-column-default.png" />
                </div><div>
                    <img src="~/images/aaaaa.png" />
                </div><div>
                    <img src="~/images/styled-mode-column-default.png" />
                </div><div>
                    <img src="~/images/aaaaa.png" />
                </div> <div>
                    <img src="~/images/styled-mode-column-default.png" />
                </div>


            </div>
        </div>
    </div>
</div>

