
@{
    ViewBag.Title = "searchreturn";
}
@using DAK_MVC.Models;

<div name="content-tim-kiem">
    <div>
       
        <div class="quick-filter-more-option">            
            <div>
                <div class="dak-tooltip">
                    <div class="tt-button">Loại BĐS</div>
                    <div class="tt-form">
                        <div class="tt-arrow">
                            <i class="fas fa-caret-up"></i>
                        </div>
                        <div class="tt-body">
                            <div class="tt-header">Loại BĐS</div>
                            <div class="tt-content">
                                <div class="div-list-defaut">
                                    <div>
                                        <label class="checkbox-default">
                                            Tất cả
                                            <input type="checkbox" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div>
                                        <label class="checkbox-default">
                                            Nhà riêng
                                            <input type="checkbox" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div>
                                        <label class="checkbox-default">
                                            Đất nền
                                            <input type="checkbox" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div>
                                        <label class="checkbox-default">
                                            Căn hộ
                                            <input type="checkbox" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div>
                                        <label class="checkbox-default">
                                            Dự án
                                            <input type="checkbox" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="tt-footer">
                                <input type="button" value="Xong" class="button-light tt-close-button" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="dak-tooltip">
                    <div class="tt-button">Khoảng giá</div>
                    <div class="tt-form">
                        <div class="tt-arrow">
                            <i class="fas fa-caret-up"></i>
                        </div>
                        <div class="tt-body">
                            <div class="tt-header">Khoảng giá</div>
                            <div class="tt-content">
                                <div class="form-input-price">
                                    <table>
                                        <tr>
                                            <td><input type="text" /></td>
                                            <td>-</td>
                                            <td><input type="text" /></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="select-price">
                                                    <div>0+</div>
                                                    <div>1 tỷ+</div>
                                                    <div>2 tỷ+</div>
                                                    <div>3 tỷ+</div>
                                                    <div>4 tỷ+</div>
                                                    <div>5 tỷ+</div>
                                                    <div>6 tỷ+</div>
                                                    <div>7 tỷ+</div>
                                                    <div>8 tỷ+</div>
                                                    <div>9 tỷ+</div>
                                                </div>
                                            </td>
                                            <td></td>
                                            <td>
                                                <div class="select-price">
                                                    <div>2 tỷ+</div>
                                                    <div>3 tỷ+</div>
                                                    <div>4 tỷ+</div>
                                                    <div>5 tỷ+</div>
                                                    <div>6 tỷ+</div>
                                                    <div>7 tỷ+</div>
                                                    <div>8 tỷ+</div>
                                                    <div>9 tỷ+</div>
                                                    <div>Tất cả</div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="tt-footer">
                                <input type="button" value="Xong" class="button-light tt-close-button" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="dak-tooltip">
                    <div class="tt-button">Diện tích</div>
                    <div class="tt-form">
                        <div class="tt-arrow">
                            <i class="fas fa-caret-up"></i>
                        </div>
                        <div class="tt-body">
                            <div class="tt-header">Diện tích</div>
                            <div class="tt-content">
                                <div class="div-list-defaut">
                                    <div>
                                        <label class="checkbox-default">
                                            Tất cả
                                            <input type="checkbox" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div>
                                        <label class="checkbox-default">
                                            < 30 m²
                                            <input type="checkbox" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div>
                                        <label class="checkbox-default">
                                            30 - 50 m²
                                            <input type="checkbox" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div>
                                        <label class="checkbox-default">
                                            50 - 70 m²
                                            <input type="checkbox" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div>
                                        <label class="checkbox-default">
                                            70 - 100 m²
                                            <input type="checkbox" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="tt-footer">
                                <input type="button" value="Xong" class="button-light tt-close-button" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="dak-tooltip">
                    <div class="tt-button">Hướng</div>
                    <div class="tt-form">
                        <div class="tt-arrow">
                            <i class="fas fa-caret-up"></i>
                        </div>
                        <div class="tt-body">
                            <div class="tt-header">Hướng</div>
                            <div class="tt-content">
                                <div class="div-list-defaut">
                                    <div>
                                        <label class="checkbox-default">
                                            Tất cả
                                            <input type="checkbox" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div>
                                        <label class="checkbox-default">
                                            Đông
                                            <input type="checkbox" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div>
                                        <label class="checkbox-default">
                                            Tây
                                            <input type="checkbox" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div>
                                        <label class="checkbox-default">
                                            Nam
                                            <input type="checkbox" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div>
                                        <label class="checkbox-default">
                                            Bắc
                                            <input type="checkbox" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="tt-footer">
                                <input type="button" value="Xong" class="button-light tt-close-button" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="dak-tooltip">
                    <div class="tt-button">Lọc thêm</div>
                    <div class="tt-form">
                        <div class="tt-arrow">
                            <i class="fas fa-caret-up"></i>
                        </div>
                        <div class="tt-body">
                            <div class="tt-header">Lọc thêm</div>
                            <div class="tt-content">
                                <div class="div-list-defaut">
                                    <div></div>
                                </div>
                            </div>
                            <div class="tt-footer">
                                <input type="button" value="Xong" class="button-light tt-close-button" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="MenuFilter" style="display:none">
        <div class="max-width-content">
            <div>
                <div class="menu-filter-title">
                    <div>
                        Loại BĐS
                    </div>
                    <div>
                        TP
                    </div>
                    <div class="active">
                        Quận/Huyện
                    </div>
                    <div>
                        Nâng cao
                    </div>
                </div>
                <div class="menu-filter-content">
                    <div class="menu-filter-content-loai-bds res-portrait">
                        <div class="block-default">
                            <div>
                                <label class="radio-default">
                                    Căn hộ
                                    <input type="radio" checked="checked" name="loaibds" />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div>
                                <label class="radio-default">
                                    Nhà đất
                                    <input type="radio" checked="checked" name="loaibds" />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div>
                                <label class="radio-default">
                                    Đất nền
                                    <input type="radio" checked="checked" name="loaibds" />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div>
                                <label class="radio-default">
                                    Dự án
                                    <input type="radio" checked="checked" name="loaibds" />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="menu-filter-content-tinh-tp res-portrait">
                        <div class="block-default">
                            <div>
                                <label class="radio-default">
                                    Hồ Chí Minh
                                    <input type="radio" checked="checked" name="sophongngu" />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div>
                                <label class="radio-default">
                                    Hà Nội
                                    <input type="radio" checked="checked" name="sophongngu" />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div>
                                <label class="radio-default">
                                    Đà Nẵng
                                    <input type="radio" checked="checked" name="sophongngu" />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div>
                                <label class="radio-default">
                                    Đồng Tháp
                                    <input type="radio" checked="checked" name="sophongngu" />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="menu-filter-content-quan-huyen active res-portrait">
                        <div class="block-default">
                            <div>
                                <label class="checkbox-default">
                                    Quận 1 <span class="item-count">(1)</span>
                                    <input type="checkbox" />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div>
                                <label class="checkbox-default">
                                    Quận 2 <span class="item-count">(1)</span>
                                    <input type="checkbox" checked="checked" />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div>
                                <label class="checkbox-default">
                                    Quận 3 <span class="item-count">(1)</span>
                                    <input type="checkbox" checked="checked" />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div>
                                <label class="checkbox-default">
                                    Quận 7 <span class="text-style-4">(1)</span>
                                    <input type="checkbox" />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div>
                                <label class="checkbox-default">
                                    Quận Bình Thạnh <span class="text-style-4">(1)</span>
                                    <input type="checkbox" />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div>
                                <label class="checkbox-default">
                                    Quận Gò Vấp <span class="text-style-4">(1)</span>
                                    <input type="checkbox" checked="checked" />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div>
                                <label class="checkbox-default">
                                    Quận Phú Nhuận <span class="text-style-4">(1)</span>
                                    <input type="checkbox" checked="checked" />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div>
                                <label class="checkbox-default">
                                    Quận Thủ Đức <span class="text-style-4">(1)</span>
                                    <input type="checkbox" />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="menu-filter-content-nang-cao">
                        <div>
                            <div class="title">
                                Phòng ngủ
                            </div>
                            <div>
                                <div>
                                    <div>
                                        <label class="radio-default">
                                            1
                                            <input type="radio" checked="checked" name="sophongngu" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div>
                                        <label class="radio-default">
                                            2
                                            <input type="radio" checked="checked" name="sophongngu" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div>
                                        <label class="radio-default">
                                            3
                                            <input type="radio" checked="checked" name="sophongngu" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="title">
                                Nhà vệ sinh
                            </div>
                            <div>
                                <div>
                                    <div>
                                        <label class="radio-default">
                                            1
                                            <input type="radio" checked="checked" name="sophongngu" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div>
                                        <label class="radio-default">
                                            2
                                            <input type="radio" checked="checked" name="sophongngu" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div>
                                        <label class="radio-default">
                                            3
                                            <input type="radio" checked="checked" name="sophongngu" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-dark open-close-fiter" onclick="CloseMenuFilter(this);" action="open">
            <i class="fas fa-filter"></i>Thu
        </div>
    </div>
    <div class="FilterSearch">
        <div class="max-width-content">
            <div>

                <div class="filter-item">
                    <div>
                        Chung cư <i class="fas fa-times-circle"></i>
                    </div>
                    <div>
                        Hồ Chí Minh <i class="fas fa-times-circle"></i>
                    </div>
                    <div>
                        Quận Thủ Đưc <i class="fas fa-times-circle"></i>
                    </div>
                    <div>
                        Quận 1 <i class="fas fa-times-circle"></i>
                    </div>
                    <div>
                        Quận 2 <i class="fas fa-times-circle"></i>
                    </div>
                    <div>
                        Quận 3 <i class="fas fa-times-circle"></i>
                    </div>
                    <div>
                        Quận 4 <i class="fas fa-times-circle"></i>
                    </div>
                    <div>
                        Quận 5 <i class="fas fa-times-circle"></i>
                    </div>
                    <div>
                        Quận 6 <i class="fas fa-times-circle"></i>
                    </div>
                    <div>
                        Quận 7 <i class="fas fa-times-circle"></i>
                    </div>
                    <span class="loc-xoa-tat-ca">Xóa tất cả </span>
                </div>
                <div class="filter-button">
                    <div class="button-dark">
                        <i class="fas fa-search"></i>Tìm kiếm
                    </div>
                    <div class="button-light">
                        <i class="fas fa-save"></i>Lưu tìm kiếm
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="GridViewSearch">
        <div class="GridSorting">
            <div>
                190 Kết Quả Tìm Kiếm
            </div>
            <div>
                Sắp Xếp Theo:
                <select style="margin-left: 10px; width: 150px">
                    <option>Mới Nhất</option>
                </select>
            </div>
        </div>
        <div class="layout-grid-view">
            <div class="list-grid-view">
                <div>
                    @{
                        List<Post> lstPosts = ViewBag.Message;
                    }
                    @foreach (var Post in lstPosts)
                    {
                        @Post.name
                        @Html.Partial("_PostItem", new ViewDataDictionary(ViewData) { { "_PostItem", Post } })



                    }

                    <div class="quang-cao-2">
                        <div>
                            <img src="../images/qc2.PNG" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard-search">
                <div>
                    <img src="../images/styled-mode-column-default.png" />
                </div><div>
                    <img src="../images/aaaaa.png" />
                </div><div>
                    <img src="../images/styled-mode-column-default.png" />
                </div><div>
                    <img src="../images/aaaaa.png" />
                </div> <div>
                    <img src="../images/styled-mode-column-default.png" />
                </div>


            </div>
        </div>
        <div>
        </div>
    </div>
</div>

